<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>test.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>testntn.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckLoginServlet</servlet-name>
        <servlet-class>testntn.CheckLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>testntn.CookieServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieCheck</servlet-name>
        <servlet-class>testntn.CookieCheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CookieLogout</servlet-name>
        <servlet-class>testntn.CookieLogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>urlServlet</servlet-name>
        <servlet-class>learnrequest.urlServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>urlCheckServlet</servlet-name>
        <servlet-class>learnrequest.urlCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hiddenFormServlet</servlet-name>
        <servlet-class>learnrequest.hiddenFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>hiddenCheckServlet</servlet-name>
        <servlet-class>learnrequest.hiddenCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>learnrequest.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionCheckServlet</servlet-name>
        <servlet-class>learnrequest.SessionCheckServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListServlet</servlet-name>
        <servlet-class>testservletjsp.ListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletJspListServlet</servlet-name>
        <servlet-class>testservletjsp.ServletJspListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckLoginServlet</servlet-name>
        <url-pattern>/checkLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieCheck</servlet-name>
        <url-pattern>/cookieCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CookieLogout</servlet-name>
        <url-pattern>/cookieLogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>urlServlet</servlet-name>
        <url-pattern>/url</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>urlCheckServlet</servlet-name>
        <url-pattern>/urlCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hiddenFormServlet</servlet-name>
        <url-pattern>/hiddenForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>hiddenCheckServlet</servlet-name>
        <url-pattern>/hiddenCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionCheckServlet</servlet-name>
        <url-pattern>/sessionCheck</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListServlet</servlet-name>
        <url-pattern>/listtestservletjsp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletJspListServlet</servlet-name>
        <url-pattern>/servletJspList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
